#fav-list {
    padding: 16px;
}
#placeholder {
    font-size: 20px;
}
@media (min-width: 1200px) {
    #fav-list {
        column-count: 2;
    }
}
@media (min-width: 1800px) {
    #fav-list {
        column-count: 3;
    }
}
@media (max-width: 1200px) {
    #fav-list {
        column-count: 1;
        width: 95vw;
    }
    .scene-info .card {
        width: 100%;
    }
}